body {
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
}

.show-posts {
    width: 90%;
    align-self: center;
    padding: 10px;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
    row-gap: 10px;
    text-align: justify;
}

.posts > div {
    width: 18%;
    border: 1px solid purple;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
}

button:hover {
    cursor: pointer;
}